<h2>{{::vm.titleTxt}}</h2>
<div class="search-bar form-group">
    <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-search" aria-hidden="true"></span>
          <input type="text" class="form-control" ng-model="searchText" ng-change="vm.search(searchText)" placeholder="Search for...">
    </div><!-- /input-group -->
    <span>{{vm.excerpts.length}}</span>
    <div class="sort-order" uib-dropdown uib-dropdown-append-to-body>
          <button class="dropdown-toggle" type="button" id="excerpt-options" uib-dropdown-toggle>
            Options
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="excerpt-options">
            <li class="dropdown-header">Sort order</li>
            <li><a href="#">Create date(acent)</a></li>
            <li><a href="#">Create date(decent)</a></li>
            <li><a href="#">Update date(acent)</a></li>
            <li><a href="#">Update date(decent)</a></li>
            <li><a href="#">Title(acent)</a></li>
            <li><a href="#">Title(decent)</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Display options</li>
            <li><a href="#">Display image</a></li>
            <li><a href="#">Display text</a></li>
          </ul>
    </div><!-- /dropup -->
</div>

<div class="excerpt-list" ng-sortable>
    <aside class="excerpt-content draggable" ng-repeat="excerpt in vm.filteredExcerpts" ng-click="vm.edit({id:excerpt.NID})" id="excerpt-{{::excerpt.NID}}">
        <div class="thumbnail">
            <!-- <img ng-src=="..." alt="..."> -->
            <div class="caption">
                <h3>{{::excerpt.title}}</h3>
                <div ng-bind-html="excerpt.html"></div>
            </div>
        </div><!-- /thubnail -->
        <div class="excerpt-control">
            <!-- press or hover -->
            <span class="glyphicon glyphicon-share" aria-hidden="true" ng-click="vm.share(excerpt.id)"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true" ng-click="vm.star(excerpt.id)"></span>
            <span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="vm.delete({id:excerpt.id})"></span>
        </div>
    </aside>
</div>
