<form>
    <input type="text" class="form-control" id="signin-name" ng-model="login.form.name" placeholder="User">
    <input type="password" class="form-control" id="signin-pwd" ng-model="login.form.pwd" placeholder="Password">
     <input type="text" class="form-control" id="signin-rdcode" ng-model="login.form.rdcode" placeholder="Random Code">

<button type="submit" class="btn btn-lg btn-block btn-primary" ng-click="login.signin()">Login In</button>

    <div class="checkbox">
    <label><input type="checkbox">Remeber me</label>
    </div>

    <a href="#">Can't login?</a>
</form>
