<form>
    <input type="text" class="form-control" id="signup-name" placeholder="User" ng-model="login.form.name">
    <input type="email" class="form-control" id="signup-email" placeholder="Email" ng-model="login.form.email">
    <input type="password" class="form-control" id="signup-pwd" placeholder="Password" ng-model="login.form.pwd">
    <input type="password" class="form-control" id="signup-pwd-cmp" placeholder="Password cmp">
     <input type="text" class="form-control" id="signup-rdcode" placeholder="Random Code" ng-model="login.form.rdcode">

<button type="submit" class="btn btn-block btn-lg btn-primary" ng-click="login.signup()">Register</button>
</form>
