<button class="note-preview" ng-click="notes.preview=!notes.preview" aria-label="Note preview">
            <span ng-show="!notes.preview" class="glyphicon glyphicon-eye-close"></span>
            <span ng-show="notes.preview" class="glyphicon glyphicon-eye-open"></span>
        </button>
        <button class="note-favorite" ng-click="notes.star=!notes.star" aria-label="Note favorite">
            <span ng-show="!notes.star" class="glyphicon glyphicon-star-empty"></span>
            <span ng-show="notes.star" class="glyphicon glyphicon-star"></span>
        </button>
        <button class="note-info" >
            <span class="glyphicon glyphicon-info-sign"></span>
        </button>
        <button class="note-delete" >
            <span class="glyphicon glyphicon-trash"></span>
        </button>

        <div class="note-more-options" uib-dropdown uib-dropdown-append-to-body>
            <button class="dropdown-toggle" type="button" id="note-more-options" uib-dropdown-toggle aria-label="other options">
                <span class="glyphicon glyphicon glyphicon-option-horizontal"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="note-more-options">
                <li class="dropdown-header">Sort order</li>
                <li><a href="#">Create date(acent)</a></li>
                <li><a href="#">Create date(decent)</a></li>
              </ul>
        </div><!-- /dropup -->

        <div class="note-share btn-group" uib-dropdown>
            <button id="note-share" type="button" class="note-share btn">Share</button>
            <button type="button" class="btn" uib-dropdown-toggle>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="note-more-options">
                <li><a href="#">Send note</a></li>
                <li><a href="#">Facebook</a></li>
              </ul>
        </div><!-- /dropup -->

        </div>
