<div class="usr-login" ng-show="{{vm.isAuthorized() == false}}">
    <ul class="nav navbar-nav">
        <li><a ui-sref="signup"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
        <li><a ui-sref="signin"><span class="glyphicon glyphicon-log-in"></span>Sign In</a></li>
    </ul>
</div>
<div class="usr-status" dropdown dropdown-append-to-body ng-show="{{vm.isAuthorized() == true}}">
      <a class="usr-avatar dropdown-toggle" type="button" id="usr-status-options" dropdown-toggle>
        <img src="{{vm.usr.avatarPath}}" alt="{{vm.usr.nickName}}" class="img-circle">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="usr-status-options">
        <!--  usr info -->
        <li class="dropdown-header">{{vm.usr.nickName}}</li>
        <li><a href="#">Home</a></li>
        <li><a href="#">My Account</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-exclamation-sign"></span>Help</a></li>
        <li><a href="#" ng-click="vm.logout()"><span class="glyphicon glyphicon-log-out"></span>Sign Out</a></li>
      </ul>
</div><!-- /dropup -->
