<!-- <ul class="list-group">
    <li id="notes-favorites" class="list-group-item">favorites</li>
    <li class="list-group-item">notes</li>
    <li class="list-group-item">books</li>
    <li class="list-group-item">tags</li>
    <li class="list-group-item">update!</li>
</ul> -->
<accordion close-others="true">
    <accordion-group is-open="true">
        <accordion-heading>
        <i class="pull-right glyphicon glyphicon-star"></i> Favorites
      </accordion-heading>
      <div ng-repeat="favor in vm.favors">{{favor}}</div>
    </accordion-group>

    <li class="list-group-item" ng-click="vm.homeLink()">{{vm.homeTxt}}</li>

    <accordion-group heading="Books">
      <div ng-repeat="book in vm.books">{{book}}</div>
    </accordion-group>

    <accordion-group heading="Tags" ng-click="vm.getTags()">
      <div ng-repeat="tag in vm.tags">{{tag}}</div>
    </accordion-group>

    <accordion-group heading="Upgrade!">
      <p>Upgrade your account!</p>
    </accordion-group>
</accordion>
