<nav class="navbar navbar-default">
<ul class="nav nav-pills nav-stacked">
    <li class="favorites"><a href="#"><span class="pull-right glyphicon glyphicon-star"></span> favorites</a></li>
    <li class=""><a href="#">notes</a></li>
    <li class=""><a href="#">books</a></li>
    <li class=""><a href="#">tags</a></li>
    <li class=""><a href="#">update!</a></li>
</ul>
</nav>

<!--
<accordion close-others="true">
    <accordion-group is-open="true">
        <accordion-heading>
        <i class="pull-right glyphicon glyphicon-star"></i> Favorites
      </accordion-heading>
      <div ng-repeat="favor in vm.favors">{{favor}}</div>
    </accordion-group>

    <li class="list-group-item" ng-click="vm.homeLink()">{{vm.homeTxt}}</li>

    <accordion-group heading="Books">
      <div ng-repeat="book in vm.books">{{book}}</div>
    </accordion-group>

    <accordion-group heading="Tags" ng-click="vm.getTags()">
      <div ng-repeat="tag in vm.tags">{{tag}}</div>
    </accordion-group>

    <accordion-group heading="Upgrade!">
      <p>Upgrade your account!</p>
    </accordion-group>
</accordion>
-->
