<div id="posts-container">
    <div class="row">
    <div id="posts-menu" class="col-xs-2 col-sm-2 col-md-2">
        <div id="posts-control">
            <button class="btn btn-default" ui-sref="#" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true">New Post</span>
            </button>
        </div>

        <div id="posts-books">
            <books-menu home-txt="posts" home-link="" favors="posts.favorsData" books="posts.booksData" tags="posts.tagsData"></books-menu>
        </div>
    </div>
    <!-- <posts-list></posts-list> -->
    <div id="posts-excerpt-list" class="col-xs-4 col-sm-4 col-md-4">
        <excerpt-list title-txt="Posts" excerpts="posts.excerpts" edit="posts.edit(id)" delete="posts.delete(id)"></excerpt-list>
    </div>
    <!-- <post-editor></post-editor> -->
    <div id="post-editor" class="col-xs-6 col-sm-6 col-md-6">
        <header class="post-editor-options">
            <editor-options preview="posts.preview" star="posts.star"></editor-options>
            <!-- publish button -->
            <button class="btn btn-default" ng-click="posts.sync()" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true">Sync</span>
            </button>

            <div class="post-title input-group">
                <input ng-model="posts.post.title" placeholder="Untitled" class="form-control">
            </div>

            <div class="post-metas">
                <books-editor></books-editor>
            </div>
        </header>
        <post-editor notes="posts.notes" items="posts.items"></post-editor>
    </div>
    </div>
</div>

