<section>
    <div class="post-editor">
        <div id="post-tools">
            <button class="btn btn-default" ng-click="editor.addNote()" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true">Add Note</span>
            </button>

            <script type="text/ng-template" id="notesModal.html">
                <div class="modal-header">
                    <h3 class="modal-title">Notes</h3>
                </div>
                <div class="modal-body">
                    <note-editor note="vm.note" preview="false"></note-editor>
                    <excerpt-list title-txt="Notes" excerpts="vm.notes"></excerpt-list>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
                </div>
            </script>
        </div>
        <div class="post-notes-dragable" ng-sortable>
            <aside class="post-note draggable">
                <div class="content">this is a test1</div>
                <button class="btn btn-default" ng-click="editor.editNote()" role="button">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true">Edit Note</span>
                </button>
            </aside>
        </div>
        <!-- style edit state -->
        <div styled="editor.post.content" class="style-body"></div>
    </div>
</section>
