<section>
    <div class="post-editor">
        <div id="post-tools">
            <button class="btn btn-default" ng-click="editor.addItem()" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true">Add Note</span>
            </button>

            <script type="text/ng-template" id="notesModal.html">
                <div class="modal-header">
                    <h3 class="modal-title">Notes</h3>
                </div>
                <div class="modal-body">
                    <note-editor note="vm.note" preview="false"></note-editor>
                    <excerpt-list title-txt="" excerpts="vm.notes" edit="vm.edit(id)" delete="vm.delete(id)"></excerpt-list>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
                </div>
            </script>
        </div>
        <div class="post-notes-dragable" ng-repeat="item in editor.items" ng-sortable>
            <aside class="post-note draggable" id="note-{{ ::item.NID }}">
                <div class="content">{{ ::item.content }}</div>

                <button class="btn btn-default" ng-click="editor.editItem(item)" role="button">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true">Edit</span>
                </button>
                <button class="btn btn-warning" ng-click="editor.deleteItem($index)" role="button">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true">Delete</span>
                </button>
            </aside>
        </div>
        <!-- style edit state -->
        <div styled="editor.post.content" class="style-body"></div>
    </div>
</section>
