<section>
    <header class="note-editor-options">
        <editor-options></editor-options>
        <div class="note-title">
            <input ng-model="notes.post.title" placeholder="Untitled">
        </div>

        <div class="note-metas">
            <books-editor></books-editor>

            <!-- tags editor-->
            <tags-editor></tags-editor>
    </header>
    <div ng-model="vm.note.content" ui-codemirror="{ onLoad : vm.codemirrorLoaded }" ui-refresh="vm.refresh" ui-codemirror-opts="{mode:'gfm', lineWrapping: true}"></div>
    <div marked="vm.note.content" class="markdown-body"></div>
</section>
